/*
Hanne sitt: 
•The whole page sets linear gradient with the following values 
“(135deg, #f5f7fa 0%, #c3cfe2 100%)” 
•The main font will be “Lato” and sans-serif will be defined 
as fallback font.
•The default browser font size must be set to 14px 
•The default font size for thecontents of the page will be 1.2rem 
•The headings (h1-h3) will use “Montserrat” type face and sans-serif 
as a fallback font.•H1 elements will have a size of 4rem
•H2 elements will have a size of 2.2rem•The paragraph will never 
exceed 70ch wide and the distance the distance between lines of 
text will be set to 1.5
*/

@media screen and (max-width: 600px){

  @font-face {
    font-family: 'Monsterrat';
    src: url(../project/assets/fonts/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  }
  * {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) fixed;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 14px /*default browser font size?*/;
  }
  
  main {
    font-family: 'Lato', sans-serif; /*main font?*/
    font-size: 1.2rem /*default font size for contents?*/;

  }

  h1, h2, h3 {
    font-family: 'Monsterrat'/*import?*/, sans-serif;
  }
  
  h1{
    font-size: 4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    max-width: 70ch;
    line-height: 1.5;
  }
  /* Karine sitt: 
 • The container will be 55vh tall
* It sets a background image (“studentsbg.png” from assets/img folder)
• The background image will not scroll with the page
• The background image will be placed at the top of the screen, and it will
be centered horizontally
• The background image will be scaled “as large as possible to fill the
container, stretching the image if necessary. If the proportions of the
image differ from the element, it is cropped either vertically or
horizontally so that no empty space remains”
• The background colour of the div inside the header is #c5192d
• The div inside the header will be pushed down 4rem (i.e.: it is positioned
relative to its nearest positioned ancestor which is the header)
*/
header{
  height: 55vh;
  max-width: 100%; 
  background-image: url("assets/img/studentsbg.png");
  position: relative;
}


header > div{
  background-color: #c5192d;
  position: absolute;
  bottom: -4rem;
  }

}



  /*Margrete sitt:
  <main>The main container contains the several articles of the “newsletter”.
  •It sets a box shadow where the blur-radius will be 1px. - Done
  •The box shadow’s color is “darkgrey”• - Done 
  The offset-x, offset-y and spread-radius values will be set to 0 - Usikker på om jeg gjorde dette riktig(?). 
  •The background color of this element is “whitesmoke” - Done */
  
  main {
    box-shadow: 0 0px 1px 0px darkgray; 
    background-color: whitesmoke; 
  }

<<<<<<< HEAD
=======

  

 #intro-container {

 border:20px;
 padding: 20px;
 margin: 20px;
 width: 100px;
 height: 200px;  
    
}

#intro-container:before {
>>>>>>> 9444c102ba768d2d6f29f2baaee86f572d5e2557


  
<<<<<<< HEAD


 /* Karine sitt: 
 • The container will be 55vh tall
* It sets a background image (“studentsbg.png” from assets/img folder)
• The background image will not scroll with the page
• The background image will be placed at the top of the screen, and it will
be centered horizontally
• The background image will be scaled “as large as possible to fill the
container, stretching the image if necessary. If the proportions of the
image differ from the element, it is cropped either vertically or
horizontally so that no empty space remains”
• The background colour of the div inside the header is #c5192d
• The div inside the header will be pushed down 4rem (i.e.: it is positioned
relative to its nearest positioned ancestor which is the header)
*/
header{
  height: 55vh;
  width: 100%;
  background-image: url("oblig2-options2-src/project/assets/img/studentsbg.png");
}
<<<<<<< HEAD

    li::marker {
    content: 1F64Co;
    content: 1F3EBo;
    content: 1F4DA;
    
  }
  
  /* eller: */
  
  li:first-child::marker {
    content: 1F64Co;
  }
  
  li:second-child::marker {
    content: 1F3EBo;
  }
  
  li:last-child::marker {
    content: 1F4DA;
  }  
=======
=======
>>>>>>> cbf974b81c5a87592bf14010b90b5184307f844d

header > div{
  background-color: #c5192d;
  padding-top: 4rem;
}

=======
 
>>>>>>> b450a60cbd448c2102ed23a1745beb014f93ba34


 


/*Suzane sin kode under
>>>>>>> 9444c102ba768d2d6f29f2baaee86f572d5e2557

  SCREENS 600PX-960PX */
  @media (min-width: 600px) and (max-width: 960px) {

<<<<<<< HEAD
/*Suzane sin kode under

  SCREENS 600PX-960PX*/

  /*General configuration*/
  @media (min-width: 600px) and (max-width: 960px) {
  footer{
    font-size:16px;
=======
    /*General configurations*/
  body{
    font-size: 16px; /*default browser font size?*/
  }

    footer{
>>>>>>> 9444c102ba768d2d6f29f2baaee86f572d5e2557
    width: 85vw;
  }


  header{
    height:65vh;
    width: 85vw;
  }

  main{
    width: 85vw;
  }

<<<<<<< HEAD
  /*<article>*/
  article {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  article {
    column-gap: 10px;
    column-width: 45 px;
  }

}
 
=======
/*<article>*/

article {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Screens >960 px */
@media screen and (max-width: 960px){

  body {
    font-size: 24px;
  }

  footer {
    width: 70px;
  }

  header {
    height: 65vh;
    width: 85vw;
  }

}

}
>>>>>>> 9444c102ba768d2d6f29f2baaee86f572d5e2557
