/*
Hanne sitt: 
• The main font will be “Lato” and sans-serif will be defined as fallback font.
• The headings (h1-h3) will use “Montserrat” type face and sans-serif as a
fallback font.
• H1 elements will have a size of 4rem
• H2 elements will have a size of 2.2rem
• The paragraph will never exceed 70ch wide and the distance the distance
between lines of text will be set to 1.5

*/

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) fixed;
    font-family: sans-serif;
    font-size: 14px;
  }

main {
  font-size: 1.2rem;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h1{
  size: 4rem;
}

h2 {
  size: 2.2rem;
}

  /*Margrete sitt:
  <main>The main container contains the several articles of the “newsletter”.
  •It sets a box shadow where the blur-radius will be 1px. - Done
  •The box shadow’s color is “darkgrey”• - Done 
  The offset-x, offset-y and spread-radius values will be set to 0 - Usikker på om jeg gjorde dette riktig(?). 
  •The background color of this element is “whitesmoke” - Done */

  main {

    box-shadow: 0 0px 1px 0px darkgray; 
    background-color: whitesmoke; 
  }
  


  /*Suzane sin kode under

  SCREENS 600PX-960PX
  @media (min-width: 600px) and (max-width: 960px) {
  footer{
    font-size:16px;
    width: 85vw;
  }
}

  header{
    height:65vh;
    width: 85vw;
  }

  main{
    width: 85vw;
  }
  }
 */